body{background-color: aquamarine;}
#nav1{display: inline;
      font-size: 3cap;
      padding-left: 2%; 
      font-family: cursive;
     }
#nav2{ display: inline;
       float: right;
       padding-right: 20px;
       background-color: cadetblue;
       font-size: 30px;
    }
    #nav3{display:block;
      background-image: url(sbj1.png);
      background-size:450px;
      background-repeat: no-repeat;
      height: 2000px;
      width: 500px;}
